<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- spring mvc related -->


    <!-- mvc controller -->
    <context:component-scan
            base-package="com.rise.shop.web.controller"/>

    <!-- JSR-303 support will be detected on classpath and enabled automatically -->
    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

    <!-- static resources -->
    <mvc:resources location="/static/" mapping="/static/**"
                   cache-period="864000"/>
    <mvc:resources location="/upload/" mapping="/upload/**"
                   cache-period="864000"/>
    <!-- 24 * 3600 * 10 -->

    <!-- template view -->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="contentType">text/html;charset=UTF-8</prop>
                <prop key="velocimacro.library">macro.vm</prop>
            </props>
        </property>
    </bean>
    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="layoutUrl" value="layout/default.vm"/>
        <property name="cache" value="false"/>
        <property name="suffix" value=".vm"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="dateToolAttribute" value="dateTool"/>
        <property name="numberToolAttribute" value="numberTool"/>
        <!-- Merge urlBuilderMap to view context for convenience. You can put your tools which must be thread safe. -->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="attributesMap">
            <map>
                <!--Velocity Escape Tool-->
                <entry key="extDateTools">
                    <bean class="com.rise.shop.view.utils.ExtDateTools"/>
                </entry>
                <entry key="fieldDetailTools">
                    <bean class="com.rise.shop.view.utils.FieldDetailTools"/>
                </entry>
                <entry key="enumTools">
                    <bean class="com.rise.shop.web.tools.EnumTools"/>
                </entry>
            </map>
        </property>
        <!--<property name="toolboxConfigLocation" value="/WEB-INF/velocity-toolbox.xml" />-->
    </bean>

    <bean
            class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="defaultContentType" value="text/html"/>
        <!-- not by accept header -->
        <property name="ignoreAcceptHeader" value="true"/>
        <!-- by extension -->
        <property name="mediaTypes">
            <map>
                <entry key="xml" value="application/xml"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <ref bean="velocityViewResolver"/>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- for application/json -->
                <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>
            </list>
        </property>
    </bean>

    <!-- locale related -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="_clientlocale"/>
        <property name="defaultLocale" value="zh_CN"/>
        <property name="cookieMaxAge" value="2147483647"/>
    </bean>

    <!-- file upload related-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="5000000"/>
    </bean>


    <!-- exception related -->
    <!-- all exception handler will be registered by DispatcherServlet default (detectAllHandlerExceptionResolvers=true) -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"/>
        <!--<property name="exceptionMappings">-->
        <!--<props>-->
        <!--<prop key="IllegalHrmPrivilegeException">error/access-denied</prop>-->
        <!--</props>-->
        <!--</property>-->
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames"
                  value="/WEB-INF/i18n/content,/WEB-INF/i18n/validation,/WEB-INF/i18n/asset,/WEB-INF/i18n/enum"/>
        <property name="cacheSeconds" value="5"/>
    </bean>

    <!-- 自定义拦截链配置 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/artist/**"/>
            <mvc:mapping path="/artistWork/**"/>
            <mvc:mapping path="/curator/**"/>
            <mvc:mapping path="/organization/**"/>
            <mvc:mapping path="/user/**"/>
            <bean class="com.rise.shop.web.interceptor.UserInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>