<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:orange;margin-left: auto" href="#">凤凰艺术</a>
        </div>
        #if(!$!session.getAttribute("isLogin"))
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form" action="/login" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control" name="name"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" name="pwd"/>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <span style="color:crimson">$!{msg}</span>
                </form>
            </div>
            <!--/.navbar-collapse -->
        #else
            <a class="navbar-brand" style="font-size: small" href="/logout">您已登录(点击注销)</a>
        #end
    </div>
</div>

